.projectsContainer {
    min-height: 100vh;
    padding-top: 50px;
}

.projectsContainer a {
    text-decoration: none;
}

.title {
    background-color: black;
    color: white;
    border-bottom: orange 4px solid;
    padding: 10px;
    text-align: center;
}

.projectsContainer img {
    width: 100%;
    height: 60%;
}

.box {
    transition: all linear .5s;
    overflow: hidden;
}

.box:hover {
    box-shadow: 2px 2px 3px white, -2px -2px 3px white;
    border-radius: 10px;
}

.cardclass {
    transition: all ease 1s;
    background-color: #1976d2;
    height: 0px;
    overflow: hidden;
}

.box:hover .cardclass {
    height: 600px;
}

.cardclass a {
    color: aliceblue;
    background-color: rgb(65, 62, 62);
    border-bottom: orange 4px solid;
    padding: 7px;
}

.description {
    background-color: azure;
    padding: 10px;
    border-radius: 8px;
    word-break: break-all;
}

.pagesFreelance  a{
    border-radius: 2px;
}