.skillsContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 800px;
    background-color: rgb(103, 201, 103);
    margin: 0 auto;
    border-radius: 10px;
}

.iconContainer {
    font-size: 30px;
}

.iconDiv {
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    color: aliceblue;
    font-weight: bold;
}

.animediv {
    animation-name: animedivicon;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear ;
    animation-delay: 2s;
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 2px;
}

@keyframes animedivicon {
    0% {
        transform: rotate(0deg) scale(0.7);
        color: aliceblue;
    }
    70%{
        transform: rotate(360deg) scale(1.5);
    }
    100%{
        transform: rotate(360deg) scale(1.5);
        color: rgb(237, 255, 243);
    }
}

.circle {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 5px;
}

.title {
    background-color: black;
    color: white;
    border-bottom: orange 4px solid;
    padding: 10px;
}

@media (max-width: 550px){
    .circle {
        justify-content: center;
        text-align: center;
    }
}